<h1><%=t("new_promoted_item")%></h1>

<%= render 'shared/error_messages', :target => @promoted_item %>

<%= form_for(:promoted_item, :url => collection_url, :html => { :multipart => true }) do |f| %>
<%= render :partial => 'new', :locals => {:f => f} %>
<% end %>
